$background-color: #2AA3F0;

#twitter {
  width: 100px;
  height: 100px;
  background-color: $background-color;
  float: right;
  position: relative;
  overflow: hidden;

  #body {
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: -20px;
      background-color: $background-color;
      border: none;
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    #head {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 4px;
      left: 44px;
      z-index: 5;

      &::before {
        content: "";
        border: 3px solid transparent;
        border-left: 15px solid #fff;
        position: absolute;
        top: 3px;
        left: 24px;
        transform: rotate(-10deg);
      }
      &::after {
        content: "";
        border: 3px solid transparent;
        border-left: 15px solid #fff;
        position: absolute;
        top: 10px;
        left: 25px;
        transform: rotate(10deg);
      }
    }

    #wing {
      width: 50px;
      height: 50px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: 18px;
      transform: rotate(45deg);
      z-index: 3;

      &::before {
        content: "";
        width: 35px;
        height: 35px;
        background-color: $background-color;
        border-radius: 40%;
        position: absolute;
        top: -6px;
        left: -5px;
      }
    }
    #wing2 {
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 11px;
      left: 13px;
      z-index: 2;

      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background-color: $background-color;
        border-radius: 40%;
        position: absolute;
        top: -9px;
        left: -5px;
      }
    }
    #wing3 {
      width: 25px;
      height: 25px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 11px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $background-color;
        border-radius: 40%;
        position: absolute;
        top: -6px;
        left: -5px;
      }

      &::after {
        content: "";
        background-color: #fff;
        width: 30px;
        height: 14px;
        position: absolute;
        border-radius: 34%;
        top: 13px;
        left: 8px;
      }
    }


  }
}
